body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body, ul, ol, li {
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin-top: 0;
}

img {
    border: 0;
} 

li {
    list-style-type: none;
}